springapp_Bkp_2018-01-25_AntesConfigChannels/src/main/webapp/wsdl/StarkWSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.springapp.starkindustries.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.springapp.starkindustries.com" xmlns:intf="http://webservice.springapp.starkindustries.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.springapp.starkindustries.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="fetchPlants">
    <complexType>
     <sequence>
      <element name="plantName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchPlantsResponse">
    <complexType>
     <sequence>
      <element name="fetchPlantsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="starkWSServiceTest">
    <complexType>
     <sequence>
      <element name="starkWSServiceTestRequest" type="impl:StarkWSServiceTestRequest"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="StarkWSServiceTestRequest">
    <sequence>
     <element name="age" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="telephoneNumber" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="starkWSServiceTestResponse">
    <complexType>
     <sequence>
      <element name="starkWSServiceTestReturn" type="impl:StarkWSServiceTestResponse"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="StarkWSServiceTestResponse">
    <sequence>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="errorMessage" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="starkWSServiceTestResponse">

      <wsdl:part element="impl:starkWSServiceTestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="starkWSServiceTestRequest">

      <wsdl:part element="impl:starkWSServiceTest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fetchPlantsRequest">

      <wsdl:part element="impl:fetchPlants" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fetchPlantsResponse">

      <wsdl:part element="impl:fetchPlantsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StarkWSService">

      <wsdl:operation name="fetchPlants">

         <wsdl:input message="impl:fetchPlantsRequest" name="fetchPlantsRequest">

       </wsdl:input>

         <wsdl:output message="impl:fetchPlantsResponse" name="fetchPlantsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="starkWSServiceTest">

         <wsdl:input message="impl:starkWSServiceTestRequest" name="starkWSServiceTestRequest">

       </wsdl:input>

         <wsdl:output message="impl:starkWSServiceTestResponse" name="starkWSServiceTestResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StarkWSServiceSoapBinding" type="impl:StarkWSService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fetchPlants">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchPlantsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fetchPlantsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="starkWSServiceTest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="starkWSServiceTestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="starkWSServiceTestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StarkWSServiceService">

      <wsdl:port binding="impl:StarkWSServiceSoapBinding" name="StarkWSService">

         <wsdlsoap:address location="http://localhost:8080/springapp/services/StarkWSService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
