springapp_Bkp_2018-01-25_AntesConfigChannels/src/main/resources/ConsultaEquiposWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<WL5G3N0:definitions targetNamespace="http://siebel.com/CustomUI" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://siebel.com/CustomUI" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/TT%20Consulta%20Equipos" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/TT%20Consulta%20Equipos">
      <xsd:annotation>
        <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All
					rights reserved. Siebel XSD Generation</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="ListOfTtConsultaEquipos" type="xsdLocal1:ListOfTtConsultaEquipos"/>
      <xsd:complexType name="ListOfTtConsultaEquiposTopElmt">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="ListOfTtConsultaEquipos" type="xsdLocal1:ListOfTtConsultaEquipos"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListOfTtConsultaEquipos">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="TtConsultaEquipos" type="xsdLocal1:TtConsultaEquipos"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TtConsultaEquipos">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="AccountName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MACAddress" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MACAddressEMTA" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SerialNumber" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/TT%20Consulta%20Equipos">
      <xsd:import namespace="http://www.siebel.com/xml/TT%20Consulta%20Equipos"/>
      <xsd:element name="ConsultaEquiposIzziApp_Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Account_spcNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultaEquiposIzziApp_Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Account_spcNumber" type="xsd:string"/>
            <xsd:element name="Error_spcCode" type="xsd:string"/>
            <xsd:element name="Error_spcMessage" type="xsd:string"/>
            <xsd:element ref="xsdLocal1:ListOfTtConsultaEquipos"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="ConsultaEquiposIzziApp_Input">
    <WL5G3N0:part element="WL5G3N1:ConsultaEquiposIzziApp_Input" name="ConsultaEquiposIzziApp_Input"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultaEquiposIzziApp_Output">
    <WL5G3N0:part element="WL5G3N1:ConsultaEquiposIzziApp_Output" name="ConsultaEquiposIzziApp_Output"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="TT_spcConsulta_spcEquipos">
    <WL5G3N0:operation name="ConsultaEquiposIzziApp">
      <WL5G3N0:input message="WL5G3N1:ConsultaEquiposIzziApp_Input"/>
      <WL5G3N0:output message="WL5G3N1:ConsultaEquiposIzziApp_Output"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="TT_spcConsulta_spcEquipos" type="WL5G3N1:TT_spcConsulta_spcEquipos">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="ConsultaEquiposIzziApp">
      <WL5G3N2:operation soapAction="document/http://siebel.com/CustomUI:ConsultaEquiposIzziApp"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="TT_spcConsulta_spcEquipos">
    <WL5G3N0:port binding="WL5G3N1:TT_spcConsulta_spcEquipos" name="TT_spcConsulta_spcEquipos">
      <WL5G3N2:address location="http://CVSCECPRD1.cableinfra.mx:7001/izziWeb/WebQueries/ConsultaEquipos/PS/ConsultaEquiposPS"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>